.social
  font-family: 'Social'
  font-size: 3rem
  font-size: 4vw
  margin: 0 auto 1rem
  padding: 0 calc(50% - 52%/2)
  text-align: center
  li
    display: inline-block
    margin: 0
    padding: 0
    p
      font-size: 1rem
      color: $grey
      font-family: $sans
  a
    color: $blue
    text-decoration: none
    font-size: 3rem
    &:hover, &:active
      color: $red
      scale-mixin(1.2)
