.splash
  background-color: $white
  font-size: 1.5vw
  position: absolute
  right: 5rem
  top: 6rem
  padding: .5rem
  rotate-mixin(-10deg)
  border: 5px solid $blue
  color: $red
  border-radius(0.5vw)

.live
  width: 100%
  margin: 2em 0
  background-color: $yellow-light
  border: 3px solid $yellow
  border-radius(5px)
  text-align: center
  padding: .5em
  display: block
  text-decoration: none
  &:hover
    cursor: pointer
    background-color: lighten($yellow, 20%)
    border: 3px solid $blue
  p
    color: $grey
    &.countdown
      color: $red-light
      font-size: 2rem
      margin: 0 0 1.2rem 0
  .time
    color: $grey
    font-size: 0.9rem

.open-list
  list-style-type: none
  width: 100%
  margin: 30px 0 60px 0
  padding: 0
  li
    width: 95%
    display: block
    margin: 0 10px 15px 10px
    position: relative
    &:hover, &.active
      a
        background-color: $yellow-light
    a
      display: block
      padding: 10px
      border-radius(5px)
      text-decoration: none

.first
  border-right: 2px solid $blue

.event-checker
  display: block
  margin: 0 auto
  font-size: 2rem
  padding: .5rem
  border: 0
  background: $yellow-light
  font-family: $sans
  color: $grey
  margin: 2rem auto 1rem
  outline: none
  &:focus
    background: $yellow, 10%

.video
  width: 90%
  margin: 1rem auto 3rem
  text-align: center
