$blue = #228DB7
$yellow = #F1E9B4
$yellow-light2 = #f8f4da
$yellow-light = lighten($yellow, 50%)
$yellow-very-light = #fcfbf0
$red = #C11A18
$red-light = #E06149
$black = #000
$grey-dark = #777
$grey = #666
$white = #fff
$width-total = 960px
