.label
  fill: $red
  font-size: 18px
  text-transform: lowercase

.form-element
  margin: 1em 0
  color: #666

.form-left
  display: inline-block
  vertical-align: top
  width: 15%
  text-align: right
  margin-right: 3%

.form-right
  display: inline-block
  vertical-align: top
  width: 75%

.form-input, .form-textarea, .form-date
  border: none
  border-bottom: 2px solid #eee
  outline: none
  padding: .5em
  color: #666

.form-textarea, .form-input
  display: block
  width: 80%

.form-textarea
  height: 150px

.form-date
  width: 40%

.form-label
  font-size: 1.2em
  padding: .3em
  display: block

.button
	background: $blue
	color: $white
	border: none
	padding: 1em 1.5em
	border-radius: 5px

.button[disabled]
  background: lighten($blue, 20%)
