.list-social
  list-style: none
  padding: 0
  margin: 0
  text-align: center
  color: $yellow
  li
    font-size: 2rem
    font-family: $sans
    font-weight: 200
    margin: 0 2%
    line-height: 1.2em
    display: inline-block
  a
    font-size: 1rem
    vertical-align: top
    &:link, &:visited
      text-decoration: none
      color: $yellow
    &:hover, &:active
      text-decoration: underline

.list-pages
  list-style: none
  margin: 2rem 0
  padding: 0
  text-align: center
  font-size: 1.5rem
  li
    display: inline-block
    margin: 0 1rem
  a
    text-decoration: none
    &:link, &:visited
      color: $blue
    &:hover, &:active
      color: $red

.list-posts
  list-style-type: none
  width: 100%
  margin: 30px 0 60px 0
  padding: 0
  text-align: center
  > li
    width: 30%
    display: inline-block
    margin: 1rem
    box-sizing: border-box
    vertical-align: top
    > p
      display: block
      width: 100%
      text-align: left
  p
    color: $grey
    font-size: 1rem
  a
    text-decoration: none
    &:link, &:visited
      color: $blue
    &:hover, &:active
      color: $red
    &.title
    	font-size: 1.2rem
    	display: block
    	text-decoration: none
    	color: $red-light
    	&:link, &:visited
    		color: $red-light
    	&:active, &:hover
    		background-color: lighten($yellow, 50%)
    	span
    		font-size: .8rem

.list-graph
  list-style: none
  text-align: center
  padding: 0
  li
    display: inline-block
    vertical-align: top
    width: 120px
    margin: 1em 5%
  img
    display: block

.boxes
  padding: 0
  li
    display: inline-block
    width: 20%
    vertical-align: top
    border: 5px solid $blue
    padding: 1em
    text-align: center
    border-radius: 10px
    height: 170px
    margin: 1em 2.3% 2em

.apps
  border: 1px solid #eee
  border-radius: 7px

.apps-left
  width: 20%
  display: inline-block
  vertical-align: top
  img
    max-width: 100%

.apps-right
  width: 75%
  display: inline-block
  vertical-align: top
  padding: .5em

.apps-cta
  background: $red-light;
  color: $white;
  border: none;
  margin: .3em 0;
  padding: .3em .5em;
  border-radius: .2em;
