.list-social
  list-style: none
  padding: 0
  margin: 0
  text-align: center
  color: $yellow
  li
    font-size: 2.5rem
    font-family: $sans
    font-weight: 200
    margin: 0 2%
    line-height: 1.2em
    display: inline-block
  a
    font-size: 1rem
    vertical-align: top
    &:link, &:visited
      text-decoration: none
      color: $yellow
    &:hover, &:active
      text-decoration: underline

.list-pages
  list-style: none
  margin: 2rem 0
  padding: 0
  text-align: center
  font-size: 1.5rem
  li
    display: inline-block
    margin: 0 1rem
  a
    text-decoration: none
    &:link, &:visited
      color: $blue
    &:hover, &:active
      color: $red
