.search
  margin: 2rem auto 1rem
  display: block
  border: 3px solid #eee
  border-radius: 9px
  font-size: 1.5rem
  outline: none
  padding: 1rem 2rem
  text-align: center
  color: $black
  font-family: $sans
  transition-mixin(all, 0.3s, ease-in-out)
  &:focus
    border-color: $blue

.searchable
  .graph-logo
    display: block
    background: $white
    border-radius: 50%
    padding: 1.8em
    height: 120px
    width: 120px
  &:hover .svg-icon-graph
    fill: $blue
    stroke: $blue
  &:hover span
    background: $yellow-light2
  &:hover .graph-name
    color: $red
  a
    text-decoration: none

.spinner
  border: 3px solid rgb(51, 51, 51)
  border: 3px solid rgba(51, 51, 51, 0.2)
  position: relative
  margin: 0 auto
  display: none

.spinner, .spinner > div
  width: 25px
  height: 25px
  border-radius: 50% !important

.spinner > div
  border: 3px solid $grey
  border-right-color: lighten($grey, 40%)
  border-top-color: lighten($grey, 40%)
  animation-mixin(spin, 1s, linear, infinite)
  position: absolute
  top: -3px
  left: -3px

.input
  width: 180px
  font-size: 1rem
  padding: .4rem
  border: 0
  outline: none
  vertical-align: bottom
  border: 1px solid lighten($grey, 60%)
  border-radius: 5px
  text-align: center
  margin-top: -0.2rem
  &:hover + .helptext
    display: inline-block

.helptext
  background: $black
  color: $white
  display: none
  position: absolute
  top: -40px
  right: 5%
  padding: .4rem
  border-radius: 5px
  &:before
    position: absolute
    bottom: -5px
    left: 59px
    display: inline-block
    border-right: 6px solid transparent
    border-top: 6px solid $white
    border-left: 6px solid transparent
    border-top-color: $black
    content: ''

.input::selection
  background: lighten($grey, 50%)
  color: $black

.input::-moz-selection
  background: lighten($grey, 50%)
  color: $black
