.search
  margin: 2rem auto 1rem
  display: block
  border: 3px solid #eee
  border-radius: 9px
  font-size: 1.5rem
  outline: none
  padding: 1rem 2rem
  text-align: center
  color: $black
  font-family: $sans
  transition-mixin(all, 0.3s, ease-in-out)
  &:focus
    border-color: $blue

.searchable
  .graph-logo
    display: block
    background: $white
    border-radius: 50%
    padding: 1.8em
    height: 120px
    width: 120px
  &:hover .svg-icon-graph
    fill: $blue
    stroke: $blue
  &:hover span
    background: $yellow-light2
  &:hover .graph-name
    color: $red
  a
    text-decoration: none
