.table
  margin: 2em 0
  a
    &:link, &:visited, &:hover, &:active
      color: $blue
  td, th
    text-align: left
    padding: .8em
    color: $grey
  tr
    border-bottom: 1px solid lighten($grey, 30%)
